<div class="schools-marquee" role="region" aria-label="學生就讀的大學">
  <div class="marquee marquee--ltr">
    <div class="marquee__track">
      <ul class="marquee__group">
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="Beedie 商學院" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="艾蜜莉卡藝術及設計大學" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/McGill.png" alt="麥吉爾大學" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="女王大學" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/SFU.png" alt="西門菲沙大學" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="多倫多大學" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Western.svg" alt="西安大略大學" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/McGill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/SFU.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/McGill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/SFU.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/McGill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/SFU.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/McGill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/SFU.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/McGill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/SFU.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Western.svg" alt="" loading="lazy" /></li>
      </ul>
    </div>
  </div>
  <div class="marquee marquee--rtl">
    <div class="marquee__track">
      <ul class="marquee__group">
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="加州大學柏克萊分校" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="香港大學" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/nyu.png" alt="紐約大學" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="Rotman 管理學院" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="Smith 商學院" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="倫敦藝術大學" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
    </div>
  </div>
  <div class="marquee marquee--ltr">
    <div class="marquee__track">
      <ul class="marquee__group">
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/columbia.png" alt="哥倫比亞大學" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="Ivey 商學院" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/ocad.png" alt="安大略藝術設計大學" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="UBC Sauder 商學院" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/stanford.png" alt="史丹佛大學" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="英屬哥倫比亞大學" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="" loading="lazy" /></li>
      </ul>
    </div>
  </div>
</div>
