<div class="schools-marquee" role="region" aria-label="學生就讀的大學">
  <div class="marquee marquee--ltr">
    <div class="marquee__track">
      <ul class="marquee__group">
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/beedie.png" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/mcgill.png" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/queens.svg" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/sfu.png" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/western.svg" alt="知名大學標誌" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/mcgill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/sfu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/mcgill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/sfu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/mcgill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/sfu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/mcgill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/sfu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/mcgill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/sfu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/western.svg" alt="" loading="lazy" /></li>
      </ul>
    </div>
  </div>
  <div class="marquee marquee--rtl">
    <div class="marquee__track">
      <ul class="marquee__group">
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/hku.svg" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/nyu.png" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/rotman.png" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/smith.jpg" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="知名大學標誌" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/hku.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/hku.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/hku.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/hku.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/hku.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
    </div>
  </div>
  <div class="marquee marquee--ltr">
    <div class="marquee__track">
      <ul class="marquee__group">
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/columbia.png" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/ivey.png" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/ocad.png" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/sauder.jpg" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/stanford.png" alt="知名大學標誌" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/ubc.svg" alt="知名大學標誌" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ubc.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ubc.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ubc.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ubc.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ubc.svg" alt="" loading="lazy" /></li>
      </ul>
    </div>
  </div>
</div>
