<div class="schools-marquee" role="region" aria-label="Universities our students attend">
  <div class="marquee marquee--ltr">
    <div class="marquee__track">
      <ul class="marquee__group">
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="Beedie School of Business" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="Emily Carr University of Art and Design" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/McGill.png" alt="McGill University" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="Queen's University" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/SFU.png" alt="Simon Fraser University" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="University of Toronto" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Western.svg" alt="Western University" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/McGill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/SFU.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/McGill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/SFU.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/McGill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/SFU.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/McGill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/SFU.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Western.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Beedie.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ecuad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/McGill.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Queens.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/SFU.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/u-of-t.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Western.svg" alt="" loading="lazy" /></li>
      </ul>
    </div>
  </div>
  <div class="marquee marquee--rtl">
    <div class="marquee__track">
      <ul class="marquee__group">
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="University of California, Berkeley" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="The University of Hong Kong" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/nyu.png" alt="New York University" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="Rotman School of Management" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="Smith School of Business" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="University of the Arts London" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/berkeley.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/HKU.svg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/nyu.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Rotman.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Smith.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ual.jpg" alt="" loading="lazy" /></li>
      </ul>
    </div>
  </div>
  <div class="marquee marquee--ltr">
    <div class="marquee__track">
      <ul class="marquee__group">
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/columbia.png" alt="Columbia University" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="Ivey Business School" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/ocad.png" alt="OCAD University" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="UBC Sauder School of Business" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/stanford.png" alt="Stanford University" loading="lazy" /></li>
        <li class="marquee__item"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="University of British Columbia" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="" loading="lazy" /></li>
      </ul>
      <ul class="marquee__group" aria-hidden="true">
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/columbia.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Ivey.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/ocad.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/Sauder.jpg" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/stanford.png" alt="" loading="lazy" /></li>
        <li class="marquee__item" aria-hidden="true"><img class="outcome-logo" src="/images/schools/UBC.svg" alt="" loading="lazy" /></li>
      </ul>
    </div>
  </div>
</div>
